{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

<div class="row">
		{% include "/article/template.article.html.twig" %}
</div>
{% endblock %}
